@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.user-info h1 {
    line-height: 60px;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}
.user-info h2 {
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}
.user-info span {
    line-height: 36px;
    font-size: 30px;
    font-weight: 600;
}
.user-info p {
    margin: 5px 0;
}
.user-info button {
    margin-top: 10px;
}
p, div, a, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.work-experience .row:hover .text {
    background-color: #3b82f6;
    color: #fff;
}
.work-experience .row:hover .flex .no {
    background-color:#3b82f6;
    color: #fff;
}
